*{
	color: white;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
		background-image: linear-gradient(#AED5D1,#5E918C,#ACD5D1,#397A9D);
		background-repeat: no-repeat;
}

.blue-background{
	display: none;
	position: absolute;
	background-image: linear-gradient(rgba(36,48,131,.48),rgba(0,196,255,0));
	top: 315px;
	height: 1595px;
	width: 100%;
	z-index: 1;

}

.main-background{
	position: absolute;
	margin: 0 auto;
	background-image: linear-gradient(#AED5D1,#5E918C,#ACD5D1,#397A9D);
	background-repeat: no-repeat;
	background-size: cover;
	height: 3217px;
	width: 100%;
	

}

.main{
	max-width: 1680px;
	position: relative;
	margin: 0 auto;

}

.logo{
	margin-left: 8%;
	margin-top: 113px;
	position: fixed;
	z-index: 3;
}

ul, li{
	display: inline-block;
}

.nav-wrapper{
	position: absolute;
	top: 300px;
	left: 76%;
}


.nav{
	position: fixed;
	z-index: 3;
}

.computer-wrapper{
	position: absolute;
	top: 50px;
	left: 36%;
}

.computer-wrapper h1{
	position: fixed;
	z-index: 2;
	width: 400px;
	padding: 130px 0 0 219px;
	font-size: 68px;
}

.computer-wrapper h2{
	display: none;
	position: fixed;
	z-index: 2;
	width: 450px;
	margin: 100px 0 0 125px;
	font-size: 55px;
	height: 380px;
	overflow: scroll;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}






.computer{
	position: fixed;
    max-width: 693px;
	z-index: 1;
}

.phone-wrapper{
	position: absolute;
	top: 589px;
}

.phone{
	position: fixed;
	max-width: 593px;
	z-index: 0;

}

.cable-wrapper{
	position: absolute;
	top: 600px;
	right: 405px;
}

.cable{
	position: fixed;
	max-width: 593px;
	z-index: 0;

}

.work{background-image: url(../images/computers.png);
	border-radius: 50px;
	position: relative;
	top: 980px;
	margin: 0 auto;
	height: 862px;
	width: 95%;
	background-repeat: no-repeat;background-position: center;
	z-index: 2;
	background-size: cover;
}

.work img{
	width: 100%;
	z-index: 2;
}




